# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.WebAPIPostgresReader.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\progetti\MyRepository\WebAPIPostgresReader\.idea\.idea.WebAPIPostgresReader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
